# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj/

# mstest test results
TestResults

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
*.pdb
*.vshost.*
